/*COLORS*/
.blue {
    color: red;
}

.dark-green {
    color: darkgreen;
}

/*FORMULARY*/

form {
    display: table;
    padding: 10px;
}

.input-value {
    display: table-row;
}

label {
    display: table-cell;
}

.label {
    display: table-cell;
}

#button {
    display: table-row-group;
}

.in-value {
    display: table-cell;
    width: 150px;
    font-size: 0.8em;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-top: 2%;
}

.form-block {
    display: inline-block;
}


.init-container{
    display: flex;
    justify-content: center;

}

#svg-triangle {
    padding-right: 20px;
    min-width: 40%;
    max-width: 100%;
    width: 370px;
}


#init-button {
    width: 100%;
    display: inline-block;
    height: 50px;
    font-size: 0.7em;
}
/*RESPONSIVE SETTINGS*/

@media (min-width: 700px) {
    .input-value {
        font-size: 2.8em;
    }
}

@media (max-width: 800px) {
    .input-value {
        font-size: 1.7em;
    }
    #result {
        font-size: 1.5em;
    }
    .single-step {
        flex-direction: column;
        justify-content: flex-start;
    }
    .value-content {
        flex-direction: column;
        justify-content: flex-start;
    }
    .temp-values {
        justify-content: center;
        padding-left: 0;
    }
    #step-solutions {
        font-size: 1em;
    }
    .in-value {
        width: 80px;
    }

    .MathJax_Display, .MJXc-display, .MathJax_SVG_Display {
        overflow-x: auto;
        overflow-y: hidden;
    }
}
