@media (max-width: 800px) {
    .svg-triangle {
        padding-bottom: 0;
        display: none;
    }
    .tmp-results {
        display: none;
    }
    .tex-step{
        font-size: 1.1em;
    }
    .middle-title{
        font-size: 0.8em;
    }
    .svg-result-step {
        transform: scale(0.8);
    }
    .h-triangle {
        transform: scale(0.6);
    }
    .MathJax_Display, .MJXc-display, .MathJax_SVG_Display {
        overflow-x: auto;
        overflow-y: hidden;
    }
}
