#steps-block {

}

.step-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-step{
    display: flex;
    align-items: flex-start
}

.svg-triangle {
    padding-bottom: 100px;
    width: 200px;
}

.svg-result-step {
    flex-shrink: 0;
}

.h-triangle {
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.tmp-results {
    padding-top: 120px;
    padding-left: 100px;
    font-size: 2em;
}

.p-result {
    display: table-row;
    /*color: darkgreen;*/
}